body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
input {
  font-family: "Source Serif Pro";
  font-size: 1.2em;
}
.chess-board {
  display: flex;
  max-width: 100vw;
  max-height: 100vh;
  height: 100vh;
  aspect-ratio: 1/1;
  flex-direction: column;
}
.row {
  display: flex;
  flex: 1;
}
.square {
  flex: 1 1 10em;
  justify-content: center;
  align-items: center;
  display: flex;
}
.square img {
  width: 4em;
  color: white;
  z-index: 0;
}
.light {
  background-color: #a3a3a3;
}
.dark {
  background-color: #7f1d1d;
}
.white {
  color: white !important;
  fill: #ffffff !important;
}
.green {
  background-color: green !important;
}
.square:hover {
  background-color: red;
}
.inplay {
  background-color: yellow !important;
}
.purple {
  background-color: purple !important;
}
.inhand {
  width: 1em !important;
  background-color: indianred;
}
.welcomescreen-wrapper {
  width: 50em;
  height: 30em;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  padding: 1.2em;
  font-family: "Source Serif Pro", serif;
  font-weight: 800;
}

.welcomescreen-background {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(000, 000, 000, 0.6);
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

h2 {
  font-weight: 200;
  font-size: 1.3em;
}
.App {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.sideboard-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d4d4d4;
  color: #111827;
  flex: 1;

  flex-wrap: wrap;
  font-family: "Source Serif Pro", serif !important;
}
.sideboard-wrapper h1 {
  margin-top: 0.5em;
}
.moves-list {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-bottom: 3em;
}
.move-wrapper {
  color: black;
  background-color: #e2e8f0;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.5em;
}
.move-wrapper:nth-child(odd) {
  background-color: #94a3b8;
  color: white;
}
.h-stack {
  display: flex;
  gap: 1em;
}
.v-stack {
  gap: 1em;
}
.game-wrapper {
  display: flex;
  background-color: red;
  flex-wrap: wrap;
  width: 100%;
}
.move-wrapper h1 {
  font-size: 1em;
  font-weight: 100;
  margin: 0;
}
.move-wrapper h5 {
  margin-left: auto;
  margin-right: 1em;
}
