body {
  margin: 0;
  padding: 0;
}
.chess-board {
  display: flex;
  max-width: 100vw;
  max-height: 100vh;
  height: 100vh;
  margin: 0 auto;
  aspect-ratio: 1/1;
  flex-direction: column;
}
.row {
  display: flex;
  flex: 1;
}
.square {
  flex: 1 1 10em;
  justify-content: center;
  align-items: center;
  display: flex;
}
.square img {
  width: 4em;
  color: white;
}
.light {
  background-color: #a3a3a3;
}
.dark {
  background-color: #7f1d1d;
}
.white {
  color: white !important;
  fill: #ffffff !important;
}
.green {
  background-color: green !important;
}
.square:hover {
  background-color: red;
}
.inplay {
  background-color: yellow !important;
}
.purple {
  background-color: purple !important;
}
